<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Menu for POS Simulation -->
    <menuitem id="menu_pos_simulation_root" name="POS Simulation" sequence="10" web_icon="ci_pos_simulation,static/description/icon.png"/>
    <menuitem id="menu_pos_simulation" name="Simulations" parent="menu_pos_simulation_root" action="action_pos_simulation"/>


</odoo>
